nav {
    background-color: #3E363F;
    font-weight:500;
}

div {
    display: flex;
    max-width: 960px;
    margin: auto;
}

p {
    color: white;
    font-weight: bolder;
    font-size: 24px;
}

li {
    display: flex;  
    align-items: center;
    margin-left: auto;
}

a {
    color: white;
}

a.active {
    color: #e6a365;
    border-bottom: 2px solid #e6a365;
}