<nav>
    <div>
        <p>ProjectX</p>
        <li>
            <ul *ngFor="let content of contents">
              <a href="#" (click)="changeTab($event)" attr.data-name="{{content.data}}" [class.active]="check(content.data)">
                {{content.view}}
              </a>
            </ul>
        </li>
        <div class="profile">
          <div class="photo-profile">
          </div>
          {{user.name}} -&nbsp; <span class="user-level">{{user.level | titlecase}}</span>
        </div>
    </div>
</nav>
