<!-- on:submit|preventDefault={handleSubmit}  -->
<h1>Create Project</h1>
<form (submit)="updateProjects($event)">
    <div class="form-field">
        <label for="question">Nama Project :</label>
        <input type="text" id="question" [(ngModel)]="pollForm.nama" name="nama">
    </div>
    <div class="form-field">
        <label for="deskripsi">Deskripsi Project:</label>
        <textarea type="text" id="deskripsi" [(ngModel)]="pollForm.deskripsi" name="deskripsi" rows="10"></textarea>
    </div>
    <button>Create !</button>
</form>
