<!-- on:submit|preventDefault={handleSubmit}  -->
<form class="addPollForm">
    <div class="form-field">
        <label for="question">Question :</label>
        <input type="text" id="question" [(ngModel)]="pollForm.question" name="question"> <!-- bind:value={pollForm.question} -->
        <!-- <div class="error">{error.question}</div> -->
    </div>
    <div class="form-field">
        <label for="answerA">Answer A :</label>
        <input type="text" id="answerA" [(ngModel)]="pollForm.answerA" name="answerA"> <!-- bind:value={pollForm.answerA} -->
        <!-- <div class="error">{error.answerA}</div> -->
    </div>
    <div class="form-field" >
        <label for="answerB">Answer B :</label>
        <input type="text" id="answerB" [(ngModel)]="pollForm.answerB" name="answerB"> <!-- bind:value={pollForm.answerB} -->
        <!-- <div class="error">{error.answerB}</div> -->
    </div>
    <Button type="secondary" inverse={false} flat={false}>Add Poll</Button>
</form>
